* {
    font-family: 'Noto Sans', 'Symbols Nerd Font Mono'
}

.bar {
    background-color: #121213;
    font-family: 'Symbols Nerd Font Mono';
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
    color: #F8F8F2;
}

.uptime, .ram, .storage, .date, .keyboard, .sound {
    font-weight: 700;
}

.keyboard {
    color: #F8F8F2;
}

.sound {
    color: #F1FA8C;
}

.uptime {
    color: #BD93F9;
}

.ram {
    color: #FF79C6   
}

.storage {
    color: #FFB86C;
}

.date {
    color: #8BE9FD;
}

.workspace-entry {
    color: #6272A4;
    font-size: 20px;
}

.window_w {
    font-size: 200px;
}

.occupied {
    color: #F8F8F2;
}

.current {
    color: #FF79C6;
}